.btn-orange {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 32px;
  border-radius: 10px;
  background-color: var(--color-orange);
  border: 1px solid transparent;
  transition: all 300ms ease;
  color: var(--color-white);
  width: min-content;
  flex-shrink: 0;
  white-space: nowrap;
}

.btn-fiord {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 12px;
  border-radius: 5px;
  background-color: var(--color-fiord);
  border: 1px solid transparent;
  transition: all 300ms ease;
  color: var(--color-white);
  width: min-content;
  flex-shrink: 0;
  white-space: nowrap;
}

.btn-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--color-blue);
  border: 1px solid transparent;
  transition: all 300ms ease;
  color: var(--color-white);
  width: min-content;
  flex-shrink: 0;
  white-space: nowrap;
}

.external-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-dark-blue);
  border: 1px solid #a0b3d1;
  width: 56px;
  padding: 10px;
  border-radius: 100px;
  transition: all 300ms ease;
}

.link-blue {
  color: var(--color-blue);
  transition: all 300ms ease;
  width: max-content;
}

.link-orange {
  color: var(--color-orange);
  transition: all 300ms ease;
  width: max-content;
}

/* ============================================= Все эффекты наведения и фокуса ============================================= */
@media (hover: hover) and (pointer: fine) {
  .btn-orange:hover {
    border: 1px solid var(--color-blue);
    background-color: var(--color-white);
    color: var(--color-blue);
  }

  .btn-fiord:hover {
    background-color: var(--color-orange);
  }

  .btn-blue:hover {
    border: 1px solid var(--color-blue);
    background-color: var(--color-white);
    color: var(--color-blue);
  }

  .link-blue:hover {
    color: var(--color-dark-blue);
    text-decoration: underline;
  }

  .link-orange:hover {
    color: #ff2f00;
    text-decoration: underline;
  }
}

.btn-orange:active {
  border: 1px solid var(--color-blue);
  background-color: var(--color-blue);
  color: var(--color-white);
}

.btn-fiord:active {
  border-color: var(--color-blue);
  background-color: var(--color-white);
  color: var(--color-blue);
}

.btn-blue:active {
  border: 1px solid var(--color-dark-blue);
  background-color: var(--color-dark-blue);
  color: var(--color-white);
}

.link-blue:active {
  color: var(--color-orange);
  text-decoration: underline;
}
