/* ============================================= Карточки новостей ============================================= */
.wrapper-card-new {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-shrink: 0;
}

.cards-news {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  padding-bottom: 6px;
  overflow-x: auto;
  scrollbar-width: none;
}

.cards-news__title {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: flex-end;
}

.cards-news__title__controls {
  display: flex;
  align-items: center;
  gap: 30px;
}

.cards-news__title__controls__arrow {
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 300ms ease;
}

.cards-news__title__controls__arrow:disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}

.cards-news__title__controls__arrow:disabled path {
  fill: var(--color-light-fiord);
}

.cards-news__title__controls__arrow:not(:disabled) path {
  fill: var(--color-orange);
}

.cards-news__title__controls__all-news {
  display: flex;
  align-items: center;
  gap: 12px;
  white-space: nowrap;
}

.cards-news__title__controls__all-news path,
.cards-news__title__controls__arrow path,
.cards-news__title__controls__all-news a {
  transition: all 300ms ease;
}


.card-news__date {
  /* 15px-30px */
  padding-left: clamp(0.938rem, 0.7106rem + 0.9704vw, 1.875rem);
}

.card-news {
  display: flex;
  flex-direction: column;
  background-color: var(--color-light-blue);
  flex-grow: 1;
  overflow: clip;
  transition: all 300ms ease;
  cursor: pointer;

  /* 256px-416px */
  width: clamp(16rem, 13.5728rem + 10.356vw, 26rem);

  /* 15px-20px */
  border-radius: clamp(0.938rem, 0.8623rem + 0.3231vw, 1.25rem);
}

.card-news__image {
  position: relative;
  width: 100%;

  /* 166px-200px */
  height: clamp(10.375rem, 9.8592rem + 2.2006vw, 12.5rem);
  overflow: hidden;
}

.card-news__image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #6896c400 0%, #6896c4cc 100%);
  pointer-events: none;
  z-index: 1;
}

.card-news__image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 2;
}

.card-news img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-news__content {
  display: flex;
  flex-direction: column;

  /* 15px-30px */
  gap: clamp(0.938rem, 0.7106rem + 0.9704vw, 1.875rem);

  /* 15px-32px */
  padding: clamp(0.938rem, 0.6802rem + 1.0998vw, 2rem);
}

.card-news__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card-news__tag {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  color: var(--color-white);
  background-color: var(--color-blue);
  border-radius: 5px;
}

.card-news__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

/* ============================================= Карточки вакансий ============================================= */
.cards-vacancies {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  padding-bottom: 6px;
  overflow-x: auto;
  scrollbar-width: none;
}

.card-vacancy {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  border: 1px solid var(--color-blue);
  max-width: max-content;
  transition: all 300ms ease;

  /* 284px-560px */
  width: clamp(17.75rem, 13.56rem + 17.86vw, 35rem);

  /* 15px-20px */
  padding: clamp(0.938rem, 0.8623rem + 0.3231vw, 1.25rem);

  /* 15px-20px */
  border-radius: clamp(0.938rem, 0.8623rem + 0.3231vw, 1.25rem);

  /* 30px-50px */
  gap: clamp(1.875rem, 1.5716rem + 1.2945vw, 3.125rem);
}

.card-vacancy__info {
  display: flex;
  flex-direction: column;

  /* 15px-20px */
  gap: clamp(0.938rem, 0.8623rem + 0.3231vw, 1.25rem);
}

.card-vacancy__skills {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


/* ============================================= media запросы для мобилок ============================================= */
@media (hover: none) and (pointer: coarse) {
  .cards-news__title__controls__arrow {
    display: none;
  }
}

/* ============================================= Все эффекты наведения и фокуса (hover focus active) ============================================= */
@media (hover: hover) and (pointer: fine) {
  .card-news:hover {
    box-shadow: 0 6px 0 0 var(--color-orange);
  }

  .card-news:hover .card-news__image::after {
    opacity: 1;
    background: linear-gradient(180deg, #6896c400 50%, #fd5d39cc 100%);
  }

  .card-vacancy:hover {
    background-color: var(--color-blue);
    color: var(--color-white);
  }

  .card-vacancy:hover .link-blue {
    color: var(--color-dark-blue);
    text-decoration: underline;
  }

  .cards-news__title__controls__arrow:not(:disabled):hover path {
    fill: var(--color-blue);
  }

  .cards-news__title__controls__all-news:hover a {
    color: var(--color-light-fiord);
  }

  .cards-news__title__controls__all-news:hover path {
    fill: var(--color-light-fiord);
  }
}

.card-news:active {
  box-shadow: 0 6px 0 0 var(--color-blue);
}

.card-news:active .card-news__image::after {
  opacity: 0;
}

.card-vacancy:active {
  background-color: var(--color-dark-blue);
  color: var(--color-white);
}

.card-vacancy:active .link-blue {
  color: var(--color-orange);
  text-decoration: underline;
}

.cards-news__title__controls__all-news:active a {
  color: var(--color-light-fiord);
}

.cards-news__title__controls__all-news:active path {
  fill: var(--color-light-fiord);
}
