/* Стили для контейнеров со свайпом */
.swipe-container {
    scroll-behavior: smooth;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.swipe-container::-webkit-scrollbar {
    display: none;
}

/* Анимации для плавного перехода */
.swipe-container.swipe-transitioning {
    scroll-behavior: auto;
}
