.video {
  position: relative;

  /* 345px-639px */
  width: clamp(21.563rem, 17.103rem + 19.0291vw, 39.938rem);

  /*  182px-336px */
  height: clamp(11.375rem, 9.0388rem + 9.9676vw, 21rem);
}

.video video {
  flex-shrink: 0;
  object-fit: cover;
  clip-path: polygon(
    100% 69.521%,
    100% 69.521%,
    99.989% 70.069%,
    99.955% 70.609%,
    99.899% 71.141%,
    99.821% 71.66%,
    99.723% 72.166%,
    99.604% 72.656%,
    99.465% 73.127%,
    99.307% 73.578%,
    99.129% 74.005%,
    98.933% 74.407%,
    86.491% 97.989%,
    86.491% 97.989%,
    86.28% 98.359%,
    86.056% 98.693%,
    85.819% 98.992%,
    85.573% 99.253%,
    85.316% 99.478%,
    85.051% 99.663%,
    84.779% 99.809%,
    84.501% 99.915%,
    84.218% 99.978%,
    83.932% 100%,
    3.703% 100%,
    3.703% 100%,
    3.115% 99.91%,
    2.558% 99.648%,
    2.037% 99.23%,
    1.562% 98.669%,
    1.14% 97.98%,
    0.778% 97.176%,
    0.483% 96.273%,
    0.263% 95.283%,
    0.126% 94.222%,
    0.078% 93.104%,
    0.078% 6.897%,
    0.078% 6.897%,
    0.126% 5.778%,
    0.263% 4.717%,
    0.483% 3.727%,
    0.778% 2.824%,
    1.14% 2.02%,
    1.562% 1.331%,
    2.037% 0.77%,
    2.558% 0.352%,
    3.115% 0.09%,
    3.703% 0%,
    96.375% 0%,
    96.375% 0%,
    96.963% 0.09%,
    97.521% 0.352%,
    98.041% 0.77%,
    98.516% 1.331%,
    98.938% 2.02%,
    99.301% 2.824%,
    99.595% 3.727%,
    99.815% 4.717%,
    99.953% 5.778%,
    100% 6.897%,
    100% 69.521%
  );

  /* 345px-639px */
  width: clamp(21.563rem, 17.103rem + 19.0291vw, 39.938rem);

  /*  182px-336px */
  height: clamp(11.375rem, 9.0388rem + 9.9676vw, 21rem);
}

.video__info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;

  /*  285px-395px */
  max-width: clamp(17.813rem, 16.1443rem + 7.1197vw, 24.688rem);
  width: 100%;
  padding: 12px 16px;

  /* 10px-20px */
  gap: clamp(0.625rem, 0.4733rem + 0.6472vw, 1.25rem);
  border-radius: 30px;
  background-color: #fffc;
  cursor: pointer;
  transition: all 300ms ease;
}

.video__info .video__info__icon {
  flex-shrink: 0;

  /* 36px-65px */
  width: clamp(2.25rem, 1.81rem + 1.8775vw, 4.063rem);
}

/* ============================================= Видео в модальном окне ============================================= */
.video--modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f1f6fbc2;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.video--modal-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  border-radius: 20px;
}

.video--modal video {
  /* 345px-1270px */
  width: clamp(21.563rem, 7.531rem + 59.87vw, 79.375rem);

  /* 182px-744px */
  height: clamp(11.375rem, 2.8495rem + 36.3754vw, 46.5rem);
  border-radius: 20px;
  object-fit: cover;
}

.video--modal-close {
  align-self: flex-end;
}

/* ============================================= media запросы ============================================= */
@media (width <=1100px) and (hover: hover) {
  .video {
    width: 100%;
    height: auto;
  }

  .video video {
    width: 100%;
    height: auto;
  }

  .video--modal-content {
    height: auto;
    width: calc(100% - clamp(0.938rem, -0.1239rem + 4.5307vw, 5.313rem));
  }

  .video--modal-content video {
    height: auto;
    width: calc(100% - clamp(0.938rem, -0.1239rem + 4.5307vw, 5.313rem));
  }
}

@media (hover: none) and (pointer: coarse) {
  .video {
    width: 100%;
    height: auto;
  }

  .video video {
    width: 100%;
    height: auto;
  }

  .video--modal-content {
    width: 90%;
    height: auto;
  }

  .video--modal-content video {
    width: 90%;
    height: auto;
  }
}

@media (hover: none) and (orientation: landscape) {
  .video--modal-content {
    height: 85%;
    width: auto;
  }

  .video--modal-content video {
    height: 85%;
    width: auto;
  }
}

/* ============================================= Все эффекты наведения и фокуса (hover focus active) ============================================= */

@media (hover: hover) and (pointer: fine) {
  .video__info:hover {
    background-color: var(--color-white);
  }
}

.video__info:active {
  background-color: var(--color-white);
}
