main {
  display: flex;
  flex-direction: column;
  background-color: #f1f6fb;
}

/* ============================================= Блок 1: Главный экран ============================================= */
.home__main-screen {
  position: relative;
  overflow: hidden;
  width: 100%;

  /* 480px-700px */
  height: clamp(30rem, 26.6626rem + 14.2395vw, 43.75rem);

  /* 20px-40px */
  border-radius: 0 0 clamp(1.25rem, 0.9466rem + 1.2945vw, 2.5rem) clamp(1.25rem, 0.9466rem + 1.2945vw, 2.5rem);
}

.home__main-screen__image {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.home__main-screen__controls {
  position: absolute;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  z-index: 2;
  height: 100%;
  width: 100%;
  padding-top: 100px;

  /* 15px-85px */
  padding-left: clamp(0.9375rem, -0.1244rem + 4.5307vw, 5.3125rem);
  padding-right: clamp(0.9375rem, -0.1244rem + 4.5307vw, 5.3125rem);
}

.home__main-screen__controls::before {
  content: '';
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #ffffff1c 7.87%, #243d6a4d 46.13%, #243d6ae6 92.9%);
}

.home__main-screen__items {
  display: flex;
}

.home__main-screen__item {
  width: 100%;
  height: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.home__main-screen__item__description {
  min-width: 500px;
  height: 100%;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 50%;
  opacity: 0;
  transition: opacity 300ms ease-in-out;

  /* 15px-56px */
  padding: clamp(0.9375rem, 0.3155rem + 2.6537vw, 3.5rem);

  /* 25px-50px */
  gap: clamp(1.5625rem, 1.1833rem + 1.6181vw, 3.125rem);
}

.home__main-screen__item.active .home__main-screen__item__description {
  opacity: 1;
}

.home__main-screen__controls button {
  z-index: 4;
  cursor: pointer;
  transition:
    transform 200ms ease-in-out,
    opacity 200ms ease-in-out;

  /* 46px-92px */
  width: clamp(2.875rem, 2.1772rem + 2.9773vw, 5.75rem);
}

.home__main-screen__controls button svg {
  width: 100%;
  height: 100%;
}

.home__main-screen__content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.home__main-screen__controls__pagination {
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
}

.home__main-screen__controls__pagination__dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff80;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.home__main-screen__controls__pagination__dot.active {
  width: 40px;
  border-radius: 5px;
  background-color: var(--color-white);
}

.home__main-screen__controls__button-background {
  transition: all 300ms ease;
}

/* ============================================= Блок 2: Сайты компаний ============================================= */
.home__companies {
  position: relative;
  display: grid;
  gap: 20px;

  /* 150px-406px */
  grid-template-columns: repeat(auto-fill, minmax(clamp(9.375rem, 5.4915rem + 16.5696vw, 25.375rem), 1fr));

  /* 50px 15px 50px 15px - 50px 85px 150px 85px */
  padding: 50px clamp(0.938rem, -0.1239rem + 4.5307vw, 5.313rem) clamp(3.125rem, 1.608rem + 6.4725vw, 9.375rem);
}

.home__company {
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: all 300ms ease;

  /* 15px-20px */
  border-radius: clamp(0.938rem, 0.8623rem + 0.3231vw, 1.25rem);

  /* 200px-301px */
  height: clamp(12.5rem, 10.9677rem + 6.5377vw, 18.813rem);
  box-shadow: 0 4px 16px 0 #4a586e57;

  /* 15px 10px - 25px 25px */
  padding: clamp(0.938rem, 0.7863rem + 0.6472vw, 1.563rem) clamp(0.625rem, 0.3973rem + 0.9714vw, 1.563rem);
}

.home__company .external-link {
  position: absolute;
  right: 0;
  bottom: -22px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.home__companies::-webkit-scrollbar {
  display: none;
}

.home__company img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.home__company p {
  z-index: 3;
  color: var(--color-white);
  overflow-wrap: anywhere;
}

.home__company::before {
  content: '';
  z-index: 2;
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background: linear-gradient(180deg, #fff0 0%, #262d49bb 100%);
}

/* ============================================= Блок 3: Экология ============================================= */
.home__ecology {
  display: flex;
  flex-direction: column;

  /* 30px-100px */
  gap: clamp(1.875rem, 0.8131rem + 4.5307vw, 6.25rem);

  /* 50px 15px 50px 15px - 50px 85px 150px 85px */
  padding: 50px clamp(0.938rem, -0.1239rem + 4.5307vw, 5.313rem) clamp(3.125rem, 1.608rem + 6.4725vw, 9.375rem);
}

.home__ecology__card-image {
  display: flex;
  align-items: flex-end;
  background-image: url('../../img/home/block3-ecology/ecology-background.webp');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  /* 425px-550px */
  height: clamp(26.563rem, 24.6669rem + 8.0901vw, 34.375rem);

  /* 15px-20px */
  border-radius: clamp(0.938rem, 0.8623rem + 0.3231vw, 1.25rem);

  /* 15px 15px - 50px 100px */
  padding: clamp(0.938rem, 0.4072rem + 2.2649vw, 3.125rem) clamp(0.938rem, -0.3513rem + 5.5011vw, 6.25rem);
}

.home__ecology__card-text {
  display: flex;
  flex-direction: column;

  /* 15px-45px */
  gap: clamp(0.938rem, 0.4829rem + 1.9417vw, 2.813rem);
  max-width: 667px;

  /* 20px 15px - 30px 30px */
  padding: clamp(1.25rem, 1.0983rem + 0.6472vw, 1.875rem) clamp(0.938rem, 0.7106rem + 0.9704vw, 1.875rem);

  /* 15px-20px */
  border-radius: clamp(0.938rem, 0.8623rem + 0.3231vw, 1.25rem);
  background: #ffffffe6;
}

.home__ecology__card-text h2 {
  color: var(--color-fiord);
}

.home__ecology__our-works-container {
  display: flex;
  justify-content: space-evenly;

  /* 30px-100px */
  gap: clamp(1.875rem, 0.8131rem + 4.5307vw, 6.25rem);
}

.home__ecology__our-works-text {
  display: flex;
  flex-direction: column;
  max-width: 628px;

  /* 15px-35px */
  gap: clamp(0.938rem, 0.6346rem + 1.2945vw, 2.188rem);
}

.home__ecology__our-works-text ul {
  display: flex;
  flex-direction: column;

  /* 10px-15px */
  gap: clamp(0.625rem, 0.549rem + 0.3241vw, 0.938rem);
  list-style-type: disc;
  list-style-position: inside;
}

/* ============================================= Блок 4: Новости ============================================= */
.home__news {
  display: flex;
  flex-direction: column;

  /* 30px-50px */
  gap: clamp(1.875rem, 1.5716rem + 1.2945vw, 3.125rem);

  /* 0 15px 50px 15px - 0 85px 150px 85px */
  padding: 0 clamp(0.938rem, -0.1239rem + 4.5307vw, 5.313rem) clamp(3.125rem, 1.608rem + 6.4725vw, 9.375rem);
}

.home__news-title {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: flex-end;
}

.home__news-title__controls {
  display: flex;
  align-items: center;
  gap: 30px;
}

.home__news-title__controls__all-news {
  display: flex;
  align-items: center;
  gap: 12px;
}

.home__news-title__controls__all-news a {
  transition: all 300ms ease;
}

.home__news-title__controls__all-news path {
  transition: all 300ms ease;
}

.home__news-title__controls__arrow path {
  transition: all 300ms ease;
}

.home__news-title__controls__arrow {
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 300ms ease;
}

.home__news-title__controls__arrow:disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}

.home__news-title__controls__arrow:disabled path {
  fill: var(--color-light-fiord);
}

.home__news-title__controls__arrow:not(:disabled) path {
  fill: var(--color-orange);
}

/* ============================================= Блок 5: Цитаты ============================================= */
.home__quotes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  /* 30px-40px */
  gap: clamp(1.875rem, 1.7233rem + 0.6472vw, 2.5rem);
}

.home__quotes__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-light-blue);

  /* 30px 15px - 50px 177px */
  padding: clamp(1.875rem, 1.57rem + 1.29vw, 3.125rem) clamp(0.9375rem, -1.52rem + 10.49vw, 11.0625rem);

  /* 4px-125px */
  gap: clamp(0.25rem, -1.59rem + 7.83vw, 7.8125rem);
}

.home__quotes__container button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: all 300ms ease;
}

.quotes__button__background {
  transition: all 300ms ease;
}

.quotes__button__arrow {
  transition: all 300ms ease;
}

.home__quotes__content {
  display: flex;
  position: relative;
  overflow: hidden;
}

.home__quote {
  display: flex;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.home__quote.active {
  opacity: 1;
}

.home__quote img {
  object-fit: cover;
  border-radius: 100%;
  width: 100px;
  height: 100px;
}

.home__quote > p {
  max-width: 774px;
}

.home__quote__person {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 404px;
}

.home__quotes__footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--color-fiord);

  /* 15px-50px */
  gap: clamp(0.938rem, 0.4072rem + 2.2649vw, 3.125rem);

  /* 30px-40px */
  padding-bottom: clamp(1.875rem, 1.7233rem + 0.6472vw, 2.5rem);
}

/* ============================================= Блок 6: Фотогалерея ============================================= */
.home__gallery {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  /* 50px 15px - 100px 85px */
  padding: clamp(3.125rem, 2.37rem + 3.24vw, 6.25rem) clamp(0.938rem, -0.1239rem + 4.5307vw, 5.313rem);
}

/* ============================================= Все эффекты наведения и фокуса (hover focus active) ============================================= */
@media (hover: hover) and (pointer: fine) {
  .home__company:hover {
    box-shadow: 0 4px 0 0 var(--color-orange);
  }

  .home__company:hover .external-link {
    box-shadow: 0 4px 0 0 var(--color-orange);
  }

  .home__news-title__controls__arrow:hover path {
    fill: var(--color-blue);
  }

  .home__news-title__controls__all-news:hover a {
    color: var(--color-light-fiord);
  }

  .home__news-title__controls__all-news:hover path {
    fill: var(--color-light-fiord);
  }

  .home__quotes__container button:hover .quotes__button__background {
    fill: var(--color-orange);
  }

  .home__quotes__container button:hover .quotes__button__arrow {
    fill: var(--color-white);
  }

  .home__main-screen__controls button:hover .home__main-screen__controls__button-background {
    fill: var(--color-orange);
    fill-opacity: 1;
  }

  .home__main-screen__controls__pagination__dot:hover {
    background-color: #fffc;
  }
}

.home__company:active {
  box-shadow: 0 4px 0 0 var(--color-orange);
}

.home__company:active .external-link {
  box-shadow: 0 4px 0 0 var(--color-orange);
}

.home__news-title__controls__all-news:active a {
  color: var(--color-light-fiord);
}

.home__news-title__controls__all-news:active path {
  fill: var(--color-light-fiord);
}

.home__quotes__container button:active .quotes__button__background {
  fill: var(--color-orange);
}

.home__quotes__container button:active .quotes__button__arrow {
  fill: var(--color-white);
}

.home__main-screen__controls button:active .home__main-screen__controls__button-background {
  fill: var(--color-orange);
  fill-opacity: 1;
}

.home__main-screen__controls__pagination__dot:active {
  background-color: #fffc;
}

/* ============================================= media запросы на десктоп ============================================= */
@media (width <=744px) {
  .home__quotes__footer {
    flex-direction: column;
  }

  .home__main-screen__controls__prev {
    position: absolute;

    /* 15px-85px */
    left: clamp(0.9375rem, -0.1244rem + 4.5307vw, 5.3125rem);
    bottom: 25px;
  }

  .home__main-screen__controls__next {
    position: absolute;

    /* 15px-85px */
    right: clamp(0.9375rem, -0.1244rem + 4.5307vw, 5.3125rem);
    bottom: 25px;
  }

  .home__main-screen__item__description {
    min-width: auto;
    max-width: none;
    width: 100%;
  }

  .home__main-screen__controls {
    grid-template-columns: auto;
  }
}

@media (width <=1100px) {
  .home__ecology__our-works-container {
    flex-direction: column;
    justify-content: flex-start;
  }

  .home__ecology__our-works-text {
    max-width: none;
  }
}

/* ============================================= media запросы на мобилку ============================================= */

@media (width <=944px) and (hover: none) and (pointer: coarse) {
  .home__companies {
    overflow-x: auto;
    grid-auto-flow: column;

    /* 150px-406px */
    grid-auto-columns: minmax(clamp(9.375rem, 5.4915rem + 16.5696vw, 25.375rem), 1fr);
  }
}

@media (hover: none) and (pointer: coarse) {
  .home__news-title__controls__arrow {
    display: none;
  }
}
