/* Базовык стили */
:root {
  /* Цвета */
  --color-orange: #fd5d39;
  --color-green: #00534c;
  --color-dark-blue: #213561;
  --color-blue: #6896c4;
  --color-bluish-grey: #769fb1;
  --color-light-blue: #e1ebf5;
  --color-beige: #eddcd1;
  --color-snow-white: #fffafa;
  --color-light-grey: #E7E9E9;
  --color-white: #fff;
  --color-fiord: #4a586e;
  --color-light-fiord: #7c8797;
  --color-black: #21272a;
  --color-grey: #717171;

  /* Шрифты */
  --font-family-default: geologica, arial, sans-serif;
}

@font-face {
  font-family: geologica;
  src: url('../../fonts/Geologica-VariableFont_CRSV\,SHRP\,slnt\,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Сброс базовых стилей */
* {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  text-size-adjust: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-default);
  scroll-behavior: smooth;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
  font-weight: 300;
  color: var(--color-black);
  user-select: none;
  background-color: #f1f6fb;
  overflow-x: hidden;
}

main {
  max-width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
button,
th,
td,
input,
label,
menu,
textarea,
pre {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-default);
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

@media (hover: none) and (pointer: coarse) {

  /* Весь скроллбар */
  *::-webkit-scrollbar {
    display: none;
  }
}

@media (hover: hover) and (pointer: fine) {

  /* Весь скроллбар */
  *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: var(--color-white);
  }

  /* Дорожка скроллбара (фон) */
  *::-webkit-scrollbar-track {
    background: var(--color-white);
  }

  /* Ползунок (перетаскиваемая часть) */
  *::-webkit-scrollbar-thumb {
    background: #4a5f8f;
    border-radius: 6px;
    border: 2px solid var(--color-white);
    transition: all 300ms ease;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: #26314d;
  }
}
