/* Импорт базовых стилей */
@import url('base.css');
@import url('typography.css');

/* Импорт компонентов */
@import url('../components/header.css');
@import url('../components/footer.css');
@import url('../components/buttons.css');
@import url('../components/breadcrumbs.css');
@import url('../components/video.css');
@import url('../components/swipe.css');
@import url('../components/cards.css');
@import url('../components/gallery.css');
@import url('../components/pagination.css');
