/* Все шрифты адаптивны с 1920px до 375px */

/* size: 40px-64px line-height: 40px-64px */
h1 {
  font-size: clamp(2.5rem, 2.1966rem + 1.2945vw, 3.75rem);
  line-height: clamp(2.5rem, 2.1966rem + 1.2945vw, 3.75rem);
  font-weight: 500;
}

/* size: 32px-50px line-height: 34px-50px */
h2 {
  font-size: clamp(2rem, 1.7269rem + 1.165vw, 3.125rem);
  line-height: clamp(2.125rem, 1.8823rem + 1.0356vw, 3.125rem);
  font-weight: 400;
}

/* size: 24px-32px line-height: 28px-36px */
h3 {
  font-size: clamp(1.5rem, 1.3786rem + 0.5178vw, 2rem);
  line-height: clamp(1.75rem, 1.6286rem + 0.5178vw, 2.25rem);
  font-weight: 400;
}

/* size: 20px-28px line-height: 20px-28px */
h4 {
  font-size: clamp(1.25rem, 1.13rem + 0.52vw, 1.75rem);
  line-height: clamp(1.25rem, 1.13rem + 0.52vw, 1.75rem);
  font-weight: 400;
}

/* size: 16px-32px line-height: 24px-36px */
.caption--500 {
  font-size: clamp(1rem, 0.7573rem + 1.0356vw, 2rem);
  line-height: clamp(1.5rem, 1.318rem + 0.7767vw, 2.25rem);
  font-weight: 500;
}

/* size: 16px-32px line-height: 24px-36px */
.caption--400 {
  font-size: clamp(1rem, 0.7573rem + 1.0356vw, 2rem);
  line-height: clamp(1.5rem, 1.318rem + 0.7767vw, 2.25rem);
  font-weight: 400;
}

.text-base--400 {
  /* 16px-20px */
  font-size: clamp(1rem, 0.9393rem + 0.2589vw, 1.25rem);
  line-height: 26px;
  font-weight: 400;
}

.text-base--700 {
  /* 16px-20px */
  font-size: clamp(1rem, 0.9393rem + 0.2589vw, 1.25rem);
  line-height: 26px;
  font-weight: 700;
}

.text-description--600 {
  /* 12px-16px */
  font-size: clamp(0.75rem, 0.6893rem + 0.2589vw, 1rem);
  font-weight: 600;
  line-height: 24px;
}

.text-description--400 {
  /* 12px-16px */
  font-size: clamp(0.75rem, 0.6893rem + 0.2589vw, 1rem);
  font-weight: 400;
  line-height: 24px;
}

.text-description--300 {
  /* 12px-16px */
  font-size: clamp(0.75rem, 0.6893rem + 0.2589vw, 1rem);
  font-weight: 300;
  line-height: 24px;
}

.text-small {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.text--white {
  color: var(--color-white);
}

.text-fiord {
  color: var(--color-fiord);
}
